/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-style: italic;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img, .work li{
    display: inline-block;
}

/* customrization */

.container{
    max-width: 1920px;
    margin: 0 auto;
}

h1{
    font-size: 80px;
    font-weight: bold;
}
h1 span, h3, .about li{
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
}
.header{
    background: url(img/header.png) no-repeat center;
    background-size: cover;
    height: 958px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap ul{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.wrap li{
    margin-right: 16px;
}
h2{
    font-size: 64px;
}
.header, .brand, .contact{
    color: white;
    background-color: black;
}
.about, .brand, .work, .contact{
    text-align: center;
    padding: 64px 0 160px 0;
}

.about{
    padding-bottom: 56px;
}
.about img, .work h2{
    margin-bottom: 24px;
}
.about h3{
    font-weight: bold;
    padding-bottom: 24px;
    border-bottom: 1px solid #000;
    width: 470px;
    margin: 0 auto;
}
.about ul{
    width: 380px;
    margin: 0 auto;
}
.about li{
    line-height: 42px;
    font-weight: bold;
}
.about li:before{
    content: "●";
    color: #891818;
    margin-right: 16px;
}

.brand h3, .about h3, h1{
    margin-bottom: 32px;
}
.brand p{
    font-size: 20px;
    margin-bottom: 68px;
    line-height: 30px;
}
.brand .mb, .about h2{
    margin-bottom: 40px;
}
.brand img{
    margin-right: 24px;
}

.about ul, .work h3, .work li{
    margin-bottom: 56px;
}
.work li{
    margin-right: 24px;
    font-size: 20px;
}

.contact li, h2, .work img{
    margin-bottom: 16px;
}
.contact{
    padding-bottom: 64px;
}
.contact a{
    color: white;
    text-decoration: none;
}
.contact a:hover{
    color: gray;
}